* {
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $main-bg;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $white-bg;
    border-radius: 20px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $main-color;
  }
}