// main colors
$main-color:#AF2676;
$sub-color:#441B45;


// // text color && font weight
$text-color: #FFFFFF;
$heading-color: #FFFFFF;
$fw-light:400;
$fw-medium:500;
$fw-bold:600;
$fw-same-bold:700;

// // bg color
$main-bg: #100E24;
$dark-bg: #0d0b1c;
$white-bg: #fff;

$linear-gradient:linear-gradient(270.16deg, $sub-color 5.74%, $main-color 92.05%);
